<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vlogplusplus">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 视频编辑功能需要的权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="replace" />
    <uses-permission android:name="com.android.providers.media.MediaProvider" />

    <application
        android:name=".player.subtitle.APPApplication"
        android:allowBackup="false"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <activity android:name=".template.TemplateSelection_Adapter"></activity>
        <activity android:name=".template.TemplateFilled_page" />
        <activity android:name=".template.TemplateSelection_page" />
        <activity android:name=".ModifyPhonenumber_page" />
        <activity android:name=".ChangePassword_page" />
        <activity android:name=".VDRemark_Adapter" />
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registered" />
        <activity android:name=".Sign_in2" />
        <activity android:name=".Sign_in1" />
        <activity android:name=".VideoDetails_page"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensor"/>
        <activity
            android:name=".player.subtitle.SubtitleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensor" /> <!-- 视频编辑功能 -->
        <!-- OptiSplashScreen -->
        <activity android:name=".videoEditor.OptiSplashScreen" /> <!-- MainActivity -->
        <activity
            android:name=".videoEditor.OptiMainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" /> <!-- OptiTrimmerActivity -->
        <activity
            android:name=".videoEditor.OptiTrimmerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" /> <!-- FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>