<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vlogplusplus.dao.IFavoriteDao">
    <resultMap id="BaseResultMap" type="com.vlogplusplus.entity.Favorite">
    </resultMap>
    <select id="list" resultMap="BaseResultMap" parameterType="com.vlogplusplus.entity.Favorite">
        SELECT * FROM favorite WHERE u_id=#{u_id} ORDER BY c_time DESC
    </select>

    <insert id="add" parameterType="com.vlogplusplus.entity.Favorite">
        INSERT INTO favorite(u_id,video_id) VALUES (#{u_id},#{video_id})
    </insert>



</mapper>