<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vlogplusplus.dao.ISearchDao">
    <resultMap id="BaseResultMap" type="com.vlogplusplus.entity.Search">
    </resultMap>
    <select id="list" resultMap="BaseResultMap" parameterType="com.vlogplusplus.entity.Search">
        SELECT * FROM search ORDER BY count DESC LIMIT #{n}
    </select>

    <insert id="add" parameterType="com.vlogplusplus.entity.Search">
        INSERT INTO search(var,count) VALUES (#{var},#{count})
    </insert>


</mapper>