<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vlogplusplus.dao.ITopicDao">
    <resultMap id="BaseResultMap" type="com.vlogplusplus.entity.Topic">
    </resultMap>

    <select id="list" resultMap="BaseResultMap" parameterType="com.vlogplusplus.entity.Topic">
        SELECT * FROM topic
    </select>

    <select id="list_new" resultMap="BaseResultMap" parameterType="com.vlogplusplus.entity.Topic">
        SELECT * FROM topic ORDER BY c_time DESC LIMIT #{n}
    </select>

    <select id="list_max" resultMap="BaseResultMap" parameterType="com.vlogplusplus.entity.Topic">
        SELECT * FROM topic ORDER BY count DESC LIMIT #{n}
    </select>

    <update id="update"  parameterType="com.vlogplusplus.entity.Topic">
        UPDATE topic set title=#{title},summary=#{summary},video=#{video} WHERE id=#{id}
    </update>

    <delete id="del"  parameterType="com.vlogplusplus.entity.Topic">
        DELETE FROM topic WHERE id=#{id}
    </delete>



</mapper>