<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vlogplusplus.dao.IVideoDao">
    <resultMap id="BaseResultMap" type="com.vlogplusplus.entity.Video">
    </resultMap>
    <select id="get_video" resultMap="BaseResultMap" parameterType="com.vlogplusplus.entity.Video">
        SELECT * FROM video WHERE id=#{id}
    </select>

    <insert id="add" parameterType="com.vlogplusplus.entity.Video">
        INSERT INTO video(title,type,var,subtitle,content,u_id,t_id,
        count_likes,count_share,count_favorite,count_watch,state)
        VALUES(#{title},#{type},#{var},#{subtitle},#{content},
        #{u_id},#{t_id},#{count_likes},#{count_share},#{count_favorite},#{count_watch},#{state})
    </insert>


</mapper>
